h1 {
  margin: 20px;
}

.add-movie {
  margin: 20px;
}
.search-bar {
  margin: 20px;
}

button {
  margin: 1px;
}

.movieList {
  border: solid 1px;
  margin: 20px;
}

.movieRow {
  list-style-type: none;
  border: solid 1px;
  margin: 5px;
  padding: 10px;
}

.watched {
  background-color: green;
  border: none;
  float: right;
  color: white;
}

.unwatched {
  float: right;
}

.noResult {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
}